:root {
    --text: #ffffff;
    --background: #121212;
    --primary: #443274;
    --secondary: #555555;
    --accent: #b200ff;
}

body {
    font-family: 'Fira Mono', monospace;
    color: var(--text);
    background: var(--background);
}

.navbar {
    background: var(--text);
}
.navbar a {
    color: var(--background);
    font-weight: 800;
}

.laman h5 {
    width: 100%;
    font-weight: 800;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: var(--background);
    background-color: var(--text);
}