:root {
    --text: #ffffff;
    --background: #222;
    --primary: #443274;
    --secondary: #555555;
    --accent: #b200ff;
}

body {
    font-family: 'Fira Mono', monospace;
    color: var(--text);
    background: var(--background);
}

small {
    font-size: 0.8rem;
}

.navbar {
    background: var(--text);
}

.navbar a {
    margin-bottom: 0;
    color: black;
    font-family: 'Dela Gothic One', monospace;
    text-transform: uppercase;
    font-size: 1.45rem;
    font-weight: 400;
}

.main-content .container {
    overflow: hidden;
}

h5 {
    user-select: none;
}

.laman h5 {
    width: 100%;
    font-weight: 800;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: black;
    background-color: var(--text);
}

.card {
    transition: all 200ms ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px var(--text);
    outline: 2px solid var(--text);
    outline-offset: -5px;
    transform: scale(1.01);
}

.card img {
    object-fit: cover;
    height: 200px;
}

.card-footer h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-footer p {
    font-size: 0.8rem;
    font-weight: 500;
}

.footer a i {
    color: #eee;
    width: 35px;
    font-size: x-large;
    padding-top: 10px;
    transition: all 0.2s ease;
}

.footer button {
    background: #25528b;
    color: white;
    border: none;
    transition: all 0.2s ease;
}

.footer button:hover {
    background: darkgrey;
}

.footer input {
    background: transparent;
    outline: 2px solid white;
    color: #ccc;
}

.footer p {
    font-size: smaller;
    padding: 0;
    margin: 0;
}

.footer a i:hover {
    color: #4682A6;
}