:root {
    --text: #ffffff;
    --background: #121212;
    --primary: #443274;
    --secondary: #555555;
    --accent: #b200ff;
}

body {
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

#navigation-bar {
    background-color: var(--background);
}

#hero {
    background: linear-gradient(
        rgba(99, 56, 255, 0.1), 
        rgb(27, 27, 27)
    ),
    url(/assets/images/gaming.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 520px;
    text-align: center;
}

#footer {
    height: 200px;
}

.vertical-center {
    min-height: 100%;

    display: flex;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--text);
}

.btn-block {
    width: 100%;
}

.card-hover {
    filter:brightness(80%);
    transition: all .2s linear;
}

.card-hover:hover {
    transform: scale(101%);
    filter:brightness(100%);
    box-shadow: 0px 8px 20px #000;
}